<%= render 'shared/header' %>
<table>
  <tr>
	<td>
	  <div style='height:200px; margin-left:45px; width:92%'>
	    <% if current_person.is_supervisor? %>
		  <div><%= render 'tasks/supervisor' %></div>
	</td>
      </div>	  
        <% end %>
   
        <% if current_person.is_agent? %> 
		  <div><%= render 'tasks/agent' %></div>
		<% end %>
        <% if current_person.is_admin? %>
		  <div><h2>Welcome Admin!</h2></div>
		<% end %>     
          </div> 	
  </tr>
</table>