<h1>Editing Source</h1>
<% if current_person.is_admin? %>
<%= render 'form' %>

<%= link_to 'Show', @source %> |
<%= link_to 'Back', sources_path %>
<% else %>  
  Sorry, must be Admin <%= link_to 'Back', root_path %> 
<% end %>